### Import Libraries

In [6]:
import pandas as pd

### Load Dataset

In [7]:
# season 14
s14_game_information = pd.read_csv("../data/raw/Draft Pick MPL Indonesia S14 - game information.csv")
s14_ban_heroes = pd.read_csv("../data/raw/Draft Pick MPL Indonesia S14 - ban heroes.csv")
s14_pick_heroes = pd.read_csv("../data/raw/Draft Pick MPL Indonesia S14 - pick heroes.csv")
# season 15
s15_game_information = pd.read_csv("../data/raw/Draft Pick MPL Indonesia S15 - game information.csv")
s15_ban_heroes = pd.read_csv("../data/raw/Draft Pick MPL Indonesia S15 - ban heroes.csv")
s15_pick_heroes = pd.read_csv("../data/raw/Draft Pick MPL Indonesia S15 - pick heroes.csv")

### Merge Dataset

In [16]:
def merge_season_data(game_info_df: pd.DataFrame, ban_df: pd.DataFrame, pick_df: pd.DataFrame):
  merged = game_info_df.merge(ban_df, on="game_id")
  merged = merged.merge(pick_df, on="game_id")
  return merged

In [31]:
# season 14
s14 = merge_season_data(s14_game_information, s14_ban_heroes, s14_pick_heroes)
s14["season"] = 14
s14.head()

,game_id,date,team_1,team_2,game_number,team_winner,patch_version,team_1_ban_1,team_1_ban_2,team_1_ban_3,...,team_1_pick_2,team_1_pick_3,team_1_pick_4,team_1_pick_5,team_2_pick_1,team_2_pick_2,team_2_pick_3,team_2_pick_4,team_2_pick_5,season
0,1,9-Aug-2024,tlid,fnoc,1,fnoc,1.9.06,fanny,zhask,hayabusa,...,edith,moskov,julian,minotaur,valentina,roger,arlott,chou,harith,14
1,2,9-Aug-2024,fnoc,tlid,2,fnoc,1.9.06,zhuxin,khufra,moskov,...,nolan,harith,minotaur,thamuz,roger,edith,arlott,vexana,joy,14
2,3,9-Aug-2024,dewa,evos,1,dewa,1.9.06,terizla,zhuxin,harith,...,edith,claude,julian,hylos,khufra,moskov,vexana,ruby,nolan,14
3,4,9-Aug-2024,dewa,evos,2,evos,1.9.06,terizla,zhuxin,harith,...,arlott,moskov,julian,x.borg,roger,zhask,hylos,guinevere,claude,14
4,5,9-Aug-2024,dewa,evos,3,dewa,1.9.06,zhuxin,terizla,zhask,...,hylos,moskov,julian,paquito,roger,harith,x.borg,guinevere,novaria,14

In [32]:
# season 15
s15 = merge_season_data(s15_game_information, s15_ban_heroes, s15_pick_heroes)
s15["season"] = 15
s15.head()

,game_id,date,team_1,team_2,game_number,team_winner,patch_version,team_1_ban_1,team_1_ban_2,team_1_ban_3,...,team_1_pick_2,team_1_pick_3,team_1_pick_4,team_1_pick_5,team_2_pick_1,team_2_pick_2,team_2_pick_3,team_2_pick_4,team_2_pick_5,season
0,1,7-Mar-2025,rrq,navi,1,rrq,1.9.42,mathilda,phoveus,harith,...,gatotkaca,granger,pharsa,cici,moskov,badang,suyou,vexana,chou,15
1,2,7-Mar-2025,rrq,navi,2,rrq,1.9.42,phoveus,mathilda,harith,...,cici,irithel,tigreal,yve,luo yi,granger,badang,gatotkaca,hayabusa,15
2,3,7-Mar-2025,evos,tlid,1,evos,1.9.42,mathilda,harith,yve,...,granger,luo yi,edith,jawhead,cici,gatotkaca,selena,bruno,ling,15
3,4,7-Mar-2025,tlid,evos,2,tlid,1.9.42,mathilda,phoveus,luo yi,...,badang,selena,joy,khaleed,suyou,cici,granger,gatotkaca,vexana,15
4,5,7-Mar-2025,tlid,evos,3,evos,1.9.42,mathilda,phoveus,luo yi,...,hylos,selena,cici,karrie,gatotkaca,granger,lukas,vexana,edith,15

In [34]:
# all season
all_season = pd.concat([s14, s15], axis=0).reset_index(drop=True)
all_season["game_id"] = range(1, len(all_season)+1)
all_season.to_csv("../data/processed/all_season.csv", index=False)
all_season.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 428 entries, 0 to 427
Data columns (total 28 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   game_id        428 non-null    int64
 1   date           428 non-null    object
 2   team_1         428 non-null    object
 3   team_2         428 non-null    object
 4   game_number    428 non-null    int64
 5   team_winner    428 non-null    object
 6   patch_version  428 non-null    object
 7   team_1_ban_1   428 non-null    object
 8   team_1_ban_2   428 non-null    object
 9   team_1_ban_3   428 non-null    object
 10  team_1_ban_4   428 non-null    object
 11  team_1_ban_5   428 non-null    object
 12  team_2_ban_1   428 non-null    object
 13  team_2_ban_2   428 non-null    object
 14  team_2_ban_3   428 non-null    object
 15  team_2_ban_4   428 non-null    object
 16  team_2_ban_5   428 non-null    object
 17  team_1_pick_1  428 non-null    object
 18  team_1_pick_2  428 non-null    object
 19  team_1_pick_3  428 non-null    object
 20  team_1_pick_4  428 non-null    object
 21  team_1_pick_5  428 non-null    object
 22  team_2_pick_1  428 non-null    object
 23  team_2_pick_2  428 non-null    object
 24  team_2_pick_3  428 non-null    object
 25  team_2_pick_4  428 non-null    object
 26  team_2_pick_5  428 non-null    object
 27  season         428 non-null    int64
dtypes: int64(3), object(25)
memory usage: 93.8+ KB

### Draft Steps

In [35]:
def create_draft_steps(season_df: pd.DataFrame):
  column_steps = {
    'team_1_ban_1': 'step_1', 'team_2_ban_1': 'step_2', 'team_1_ban_2': 'step_3', 'team_2_ban_2': 'step_4',
    'team_1_ban_3': 'step_5', 'team_2_ban_3': 'step_6', 'team_1_pick_1': 'step_7', 'team_2_pick_1': 'step_8',
    'team_2_pick_2': 'step_9', 'team_1_pick_2': 'step_10', 'team_1_pick_3': 'step_11', 'team_2_pick_3': 'step_12',
    'team_2_ban_4': 'step_13', 'team_1_ban_4': 'step_14', 'team_2_ban_5': 'step_15', 'team_1_ban_5': 'step_16',
    'team_2_pick_4': 'step_17', 'team_1_pick_4': 'step_18', 'team_1_pick_5': 'step_19', 'team_2_pick_5': 'step_20'
  }

  column_order = ['game_id', 'date', 'team_1', 'team_2', 'game_number', 'team_winner', 'patch_version', 'season',
                  'step_1', 'step_2', 'step_3', 'step_4', 'step_5', 'step_6', 'step_7', 'step_8', 'step_9', 'step_10',
                  'step_11', 'step_12', 'step_13', 'step_14','step_15', 'step_16', 'step_17', 'step_18', 'step_19', 'step_20']
  
  draft_steps = season_df.rename(columns=column_steps)[column_order]
  return draft_steps

In [41]:
# all season
all_season_draft_steps = create_draft_steps(all_season)
all_season_draft_steps.to_csv("../data/processed/all_season_draft_steps.csv", index=False)
all_season_draft_steps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 428 entries, 0 to 427
Data columns (total 28 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   game_id        428 non-null    int64
 1   date           428 non-null    object
 2   team_1         428 non-null    object
 3   team_2         428 non-null    object
 4   game_number    428 non-null    int64
 5   team_winner    428 non-null    object
 6   patch_version  428 non-null    object
 7   season         428 non-null    int64
 8   step_1         428 non-null    object
 9   step_2         428 non-null    object
 10  step_3         428 non-null    object
 11  step_4         428 non-null    object
 12  step_5         428 non-null    object
 13  step_6         428 non-null    object
 14  step_7         428 non-null    object
 15  step_8         428 non-null    object
 16  step_9         428 non-null    object
 17  step_10        428 non-null    object
 18  step_11        428 non-null    object
 19  step_12        428 non-null    object
 20  step_13        428 non-null    object
 21  step_14        428 non-null    object
 22  step_15        428 non-null    object
 23  step_16        428 non-null    object
 24  step_17        428 non-null    object
 25  step_18        428 non-null    object
 26  step_19        428 non-null    object
 27  step_20        428 non-null    object
dtypes: int64(3), object(25)
memory usage: 93.8+ KB